:root {
    --font: "Monttserrat", "Inter", "Rubik"
}

body {
    margin: 0;
    font-family: var(--font);
}

.hero-section {
    background-image: url(media/Background.webp);
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 720px;
    margin: 0 auto;
    color: #ffffff;
    
}

.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.centered {
    justify-content: center;
    align-items: center;
}

.brand {
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
}

.section-break {
    background-color: #ffffff;
    height: 2px;
    display: flex;
}


.button {
    font-family: "Rubik";
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #0000;
}

.button2 {
    background-color: #4EC7FF;
}
.reg-buttons {
    margin-left: 500px;
}