:root {
    --font: "Monttserrat", "Inter", "Rubik";
}
body {
    margin: 0;
}

.hero-section {
    background-image: url("media/Background.png");
    background-size: cover;
    background-position: center
    
}

.centered {
    display: flex;
    justify-content: center;
}
.container {
    width: 1200px;
}
.navbar {
    display: flex;
    justify-content: center;
}